@page "/sw-about"

<PageTitle>Southern Water</PageTitle>

<div class="rz-p-12">
    <RadzenText TextStyle="TextStyle.DisplayH1">Southern Water</RadzenText>
</div>

<div Class="rz-p-0 rz-p-md-12">
    <RadzenTimeline Orientation="Orientation.Vertical" LinePosition="LinePosition.Center" Reverse="false" Class="rz-m-4">
        <Items>
            <RadzenTimelineItem PointStyle="PointStyle.Primary">
                <LabelContent>
                    <RadzenText TextStyle="TextStyle.Subtitle2" Class="rz-m-0 rz-color-primary">JUL 1989</RadzenText>
                </LabelContent>
                <ChildContent>
                    Southern Water Ltd. is formed from Southern Water Authority
                </ChildContent>
            </RadzenTimelineItem>
            <RadzenTimelineItem>
                <LabelContent>
                    <RadzenText TextStyle="TextStyle.Subtitle2" Class="rz-m-0 rz-color-primary">JUN 1996</RadzenText>
                </LabelContent>
                <ChildContent>
                    Southern Water overtaken by Scottish Power in a hostile takeover. Majority of in-house scientific laboratory services and assets sold off
                </ChildContent>
            </RadzenTimelineItem>
            <RadzenTimelineItem>
                <LabelContent>
                    <RadzenText TextStyle="TextStyle.Subtitle2" Class="rz-m-0 rz-color-primary">MAR 2002</RadzenText>
                </LabelContent>
                <ChildContent>
                    Scottish Power sells Southern Water to First Aqua Limited
                </ChildContent>
            </RadzenTimelineItem>
            <RadzenTimelineItem>
                <LabelContent>
                    <RadzenText TextStyle="TextStyle.Subtitle2" Class="rz-m-0 rz-color-primary">OCT 2007</RadzenText>
                </LabelContent>
                <ChildContent>
                    Greensands Investments Limited buys Southern Water
                </ChildContent>
            </RadzenTimelineItem>
            <RadzenTimelineItem>
                <LabelContent>
                    <RadzenText TextStyle="TextStyle.Subtitle2" Class="rz-m-0 rz-color-primary">MAY 2007</RadzenText>
                </LabelContent>
                <ChildContent>
                    <RadzenLink Path="https://www.kentonline.co.uk/kent/news/southern-water-fined-after-herne-a66532/" Text="£10,000 fine after sewage spills into stream in Beltinge, Kent - polluting 550 yards of Bishopstone Glen" target="_blank"></RadzenLink>
                </ChildContent>
            </RadzenTimelineItem>
            <RadzenTimelineItem>
                <LabelContent>
                    <RadzenText TextStyle="TextStyle.Subtitle2" Class="rz-m-0 rz-color-primary">NOV 2007</RadzenText>
                </LabelContent>
                <ChildContent>
                    <RadzenLink Path="https://www.theguardian.com/business/2007/nov/15/southernwater" Text="OFWAT fine of £20.3m for 'deliberate misreporting' and failing to meet guaranteed standards of service to customers" target="_blank"></RadzenLink>
                </ChildContent>
            </RadzenTimelineItem>
            <RadzenTimelineItem>
                <LabelContent>
                    <RadzenText TextStyle="TextStyle.Subtitle2" Class="rz-m-0 rz-color-primary">JUN 2010</RadzenText>
                </LabelContent>
                <ChildContent>
                    <RadzenLink Path="https://www.waterbriefing.org/index.php/home/company-news/item/1206-southern-water-fined-for-polluting-river-with-raw-sewage)" Text="£3,000 fine for polluting 2km of Sussex stream with raw sewage, killing up to 100 brown trout and devastating the fish population for the second time in five years" target="_blank"></RadzenLink>
                </ChildContent>
            </RadzenTimelineItem>
            <RadzenTimelineItem>
                <LabelContent>
                    <RadzenText TextStyle="TextStyle.Subtitle2" Class="rz-m-0 rz-color-primary">SEP 2011</RadzenText>
                </LabelContent>
                <ChildContent>
                    <RadzenLink Path="https://www.bbc.co.uk/news/uk-england-hampshire-15122040" Text="£25,000 fine when Southampton water is flooded by sewage" target="_blank"></RadzenLink>
                </ChildContent>
            </RadzenTimelineItem>
            <RadzenTimelineItem>
                <LabelContent>
                    <RadzenText TextStyle="TextStyle.Subtitle2" Class="rz-m-0 rz-color-primary">MAR 2012</RadzenText>
                </LabelContent>
                <ChildContent>
                    <RadzenLink Path="https://www.kentonline.co.uk/kent/news/southern-water-fined-after-herne-a66532/" Text="£50,000 fine after 60 houses in Beltinge, Kent are flooded with Sewage" target="_blank"></RadzenLink>
                </ChildContent>
            </RadzenTimelineItem>
            <RadzenTimelineItem>
                <LabelContent>
                    <RadzenText TextStyle="TextStyle.Subtitle2" Class="rz-m-0 rz-color-primary">2020/2021</RadzenText>
                </LabelContent>
                <ChildContent>
                    <RadzenLink Path="https://www.portsmouth.co.uk/business/southern-water-bosses-handed-bonuses-totalling-ps840000-3313892" Text="CEO & CFO get £840,000 of bonuses" target="_blank"></RadzenLink>
                </ChildContent>
            </RadzenTimelineItem>
            <RadzenTimelineItem>
                <LabelContent>
                    <RadzenText TextStyle="TextStyle.Subtitle2" Class="rz-m-0 rz-color-primary">AUG 2021</RadzenText>
                </LabelContent>
                <ChildContent>
                    The Macquarie Group buys a majority stake
                </ChildContent>
            </RadzenTimelineItem>
            <RadzenTimelineItem>
                <LabelContent>
                    <RadzenText TextStyle="TextStyle.Subtitle2" Class="rz-m-0 rz-color-primary">2022/2023</RadzenText>
                </LabelContent>
                <ChildContent>
                    <RadzenLink Path="https://www.dailyecho.co.uk/news/23910692.reaction-southern-water-bosses-paid-600-000/" Text="Execs get £587,000 in total renumeration" target="_blank"></RadzenLink>
                </ChildContent>
            </RadzenTimelineItem>
        </Items>
    </RadzenTimeline>
</div>
<div>
    <RadzenLink Path="https://en.wikipedia.org/wiki/Southern_Water" Text="Source [Wikipedia]" target="_blank"></RadzenLink>
</div>

@code {

}