@inherits LayoutComponentBase

<RadzenLayout>
    <RadzenHeader>
        <NavMenu/>
    </RadzenHeader>
    <RadzenBody>
        <div class="page">
            <main>
                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>
    </RadzenBody>
    <RadzenFooter>
        <div style="text-align: center">
            <a href="https://sarsoo.xyz/about/" style="display: inline-block">
                <img src="/andy.png"
                     alt="AP"
                     width="100px"
                     style="display: block;
                     margin-left: auto;
                     margin-right: auto;
                     filter: contrast(70%);">
            </a>
        </div>
    </RadzenFooter>
</RadzenLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<RadzenComponents @rendermode="InteractiveRenderMode"/>